*{
	margin: 0;
	padding: 0;
}

.quick-fix {
	width: 100% !important;
	height: 100%;
	overflow: hidden;
}

body {
	min-height: 95vh;
}


.header {
	background-color:rgb(2, 2, 11);
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	height: 15%;
	padding: 2vh 6vh;
	position: absolute fixed;
	top: 0px;
	bottom: 0px;
}

a {text-decoration: none;}

#full-name {
	font-size: 2rem;
	font-weight: bolder;
	font-family: 'Passion One', Arial, Helvetica, sans-serif;
	color: whitesmoke;
}

#full-name:hover {
	text-shadow: 1px 1px 5px rgb(2, 2, 11, 0.50);
}

#full-name:active {
	color: rgb(2, 2, 11, 0.65);
}

.header nav {
	background: transparent;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 45%;
}

.header nav a {
	float: right;
} 

.logo {
	width: 30px;
	height: auto;
	margin-right: 2px;

}

#github:hover {
	box-shadow: 3px 3px 15px rgb(2, 2, 11, 0.65);
	border-radius: 100%;
}

#linkedin:hover {
	box-shadow: 3px 3px 15px rgb(2, 2, 11, 0.65);
}

#contactme-nav {
	font-weight: bold;
	font-size: 1rem;
	color: whitesmoke;
	font-family: 'Roboto Condensed', sans-serif;
	align-items: center;
}

#contactme-nav:hover {
	text-shadow: 1px 1px 5px rgb(2, 2, 11, 0.50);
}

#contactme-nav:active {
	color: rgb(2, 2, 11, 0.65);
} 

.intro{
    min-height: 80%;
}

p {
	font-size: 1.5rem;
	font-family: 'Roboto Condensed', sans-serif;
}

footer {
	background:rgb(2, 2, 11);
	display: flex;
	max-width: 100%;
	height: 5%;
	padding: 1vh 6vh;
	position: absolute fixed;
	align-items: center;
    bottom: 0;
}

#footer-design {
	margin: auto;
}

#copyright {
	color: whitesmoke;
	font-style: italic;
	font-weight: lighter;
	font-family: 'Roboto Condensed', sans-serif;
}

.h6 {
	font-size: 0.7rem;
} 


@media screen and (max-width: 10000px) {
	.header nav {
		max-width: 25%;
	}		
    .intro {
        display: flex;
        max-width: 100%;
        padding: 6vh;
        background-color: whitesmoke;
    }
    
    #profile-picture {
        max-width: 20%;
        border: 3px solid #000;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    
    #introduction-paragraph {
        font-family: 'Roboto Condensed', sans-serif;
        padding-left: 8vh;
        display: flex;
        justify-content: center;
        align-items: center
    }
}

@media screen and (max-width: 1200px) {
	.header nav {
		max-width: 25%;
	}
    #introduction-paragraph {
        font-size: 1.4rem;
    }
    #profile-picture {
        max-width: 35%;
    }
    .intro {
        min-height: 80%;
    }
}

@media screen and (max-width: 800px) {
	.header nav {
		max-width: 30%;
	}	
    #profile-picture {
        max-width:40%;
    }
    .intro {
        max-width: 100%;
        /* padding: 6vh; */
        background-color: whitesmoke;
        display: block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #profile-picture {
        max-width:40%;
    }
    #introduction-paragraph {
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: 4vh;
        padding-left: 0vh;
    }
    #introduction-paragraph {
        font-size: 1.3rem;
    }
} 

/* BELOW FOR PHONES AND LANDSCAPE TABLETS */

@media screen and (max-width: 600px) {
	body {
		max-width: 100%;
	}
	.header nav {
		max-width: 40%;
	}
	#full-name {
		padding-right: 3vh;
	}
    #introduction-paragraph {
        font-size: 1rem;
    }
}   

@media screen and (max-width: 400px) {
	.header nav {
		max-width: 75%;
	}
	#full-name {
		padding-right: 1vh;
	}
    #profile-picture {
        max-width: 50%;
    }
}

